body{
	background: #fff;
}
.img{
	width: 375px;
	height: 533px;
}
.img img{
	width: 375px;
	height: 533px;
}
.imgb{
	width: 60px;
	height: 60px;
	margin: 10px 10px 10px 15px;
}
.imgb img{
	width: 60px;
	height: 60px;
}
