
.best-box{
	border:solid 1px #EEEEEE;
	width: 347px;
	height:267px;
	border-radius:10px 10px 0px 0px ;
	position: relative;
	overflow: hidden;
	background: #fff;
	margin-top: 10px;
}
.best-box-top{
	width: 347px;
	height: 161px;
	
}
.best-box-top img{
	width: 347px;
	height: 161px;
}
.best-num{
	font-size: 12px;
	color: #EBEBEB;
	background: rgba(0,0,0,0.6);
	border-radius: 18px;
	position: absolute;
	top: 12px;
	left: -11px;
	width: 97px;
	height: 26px;
	text-align: center;
	line-height: 26px;
	}
.best-text{
	margin: 10px 10px 5px 10px;
	text-align: justify;
	font-size: 12px;
	height: 46px;
	line-height: 21px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	
}
.best-money1{
	height: 25px;
	width: 76px;
	background: url(/static/images/home-icon15.png) no-repeat;
	background-size: 100%;
	margin-left: 15px;
	position: relative;
	top: -6px;
	font-size: 11px;
	left: 20px;
	
}
.best-money2{
	height: 25px;
	width: 76px;
	margin-left: 5px;
	background: url(/static/images/home-icon16.png) no-repeat;
	background-size: 100%;
	position: relative;
	top: -6px;
	font-size: 11px;
	left: 20px;
}
.best-money1 .span1{
	color: #fff;
	position: relative;
	top: 3px;
	left: 4px;
	
}
.best-money1 .span2{
	color: #F98A48;
	position: relative;
	top: 3px;
	left: 9px;
}
.best-money2 .span1{
	color: #fff;
	position: relative;
	top: 3px;
	left: 4px;
}
.best-money2 .span2{
	color: #F14667;
	position: relative;
	top: 3px;
	left: 9px;
}

.best-time{
	background: rgba(0,0,0,0.7);
	width: 100%;
	height: 30px;
	position: absolute;
	top: 130px;
	color: #fff;
	font-size:12px ;text-align: center;
	line-height: 30px;
}
.best-time span{
	background: #F98A48;
	padding: 2px 5px;
	border-radius: 3px;
}
.best-time2{
	font-size: 15px;
}
.best-moneyleft{
	font-size: 13px;
	color: #F2456F;
	margin-left: 30px;
}