html {
    font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体"; 
    color: #000;
    font-size: 14px!important;
    overflow-x: hidden !important;
    position: relative;
    font-weight:normal;
	background: #F2F2F2;
}
body {
	height: auto;
}

.color1{
	color: #AFAFB1;
}
.color2{
	color: rgb(34,34,34);
}
.color3{
	color: #8B8B8B;
}
.color4{
	color:#3C3C3C;
}
.color5{
	color: #FFECE6;
}
.color6{
	color: rgb(249,138,72);
}
.color7{
	color:#FF895A;
}

.color8{
	color: #F98A48;
}
.color9{
	color: #F14667;
}

.font15{
	font-size: 15px;
}
.font14{
	font-size: 14px;
}
.font13{
	font-size: 13px;
}
.font12{
	font-size: 12px;
}
.font10{
	font-size: 10px;
}


.radiu20{
	border-radius: 20px;
}
.radiu50{
	border-radius: 50%;
}


.bg1{
	background: #fff;
}
.bg2{
	background: #F2F2F2;
}
.bg3{
	background: #F98A48;
}
.bg4{
	background: #F14667;
}



.flo-left{
	float: left;
}
.flo-right{
	float: right;
}
.ilblock{
	display: inline-block;
}
.overflow0{
	overflow: hidden;
}
.overflow1{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.overflow2{
	display: -webkit-box;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

.overflow3{
	overflow: hidden;  
	text-overflow: ellipsis;  
	display: -webkit-box;  
	-webkit-line-clamp: 2;  
	-webkit-box-orient: vertical; 
	
}



.home{
	background: #F2F2F2;
}

body div{
	box-sizing: border-box;
}






.home{
	width: 100%;
	height: 46px;
	font-size: 16px;
	line-height: 46px;
}
.home img{
	width: 14px;
	height: 14px;
	margin: 16px 20px;
}
.index-top{
	height:46px ;
	background: #fff;
	width: 100%;
	border: solid 1px #E2E2E2;
	box-shadow: 0px 0px 8px #D3D3D3;
	border-left: none;
	border-right: none;
	position: relative;
	z-index: 10;
}
.logo{
	width: 50%;
	height: 100%;
	font-size: 15px;
	color: rgb(34,34,34);
}
.logo img{
	height: 50px;
	width: 50px;
	margin: 0px 15px;
}
.logo-right{
	float: right;
	font-size: 14px;
	color:rgb(102,102,102);
	
}
.logo-right img{
	width: 22px;
	height: 22px;
	margin: 12px 20px;
}
.logo-right-span{
	width: 62px;
	height: 100%;
	/* border: solid 1px red; */
	background: url(/static/images/home-icon10.png) no-repeat 48px center;
	background-size: 20%;
}







/* ==========导航栏 */
.navbar-brand{
	width: 100%;
	height: 60px;
	border-top: solid 1px #EEEEEE;
	border-bottom: solid 1px #EEEEEE;
	position: fixed;
	bottom: 0px;
	background: #fff;
	font-size: 11px;
	box-shadow: 0px 0px 45px #E9E9E9;
}
.navbar-item{
	display:inline-block;
	width: 33.3%;
	height: 60px;
	text-align: center;
}
.navbar-brand image{
	width: 26px;
	height: 24px;
	margin-bottom: 3px;
}
